<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form method="POST">
      {% csrf_token %} {% comment %} {% for key,value in form.errors.items %}
      {{value}} {% endfor %} {% endcomment %}
      <p><label>Tài khoản :</label>{{form.username}}</p>
      <p><label>Mật khẩu :</label>{{form.password}}</p>
      <input type="hidden" name="next" value="/" />
      <input type="submit" value="Đăng nhập" />
    </form>
  </body>
</html>
